
.grid{
    display: grid;
}
.grid.add-gutters{
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
}

@media (width > 82rem)  {
    .content-grid{
        grid-template-columns: 1fr 2.3fr;
      }
    .main-menu img{
        margin-left: 5rem;
    }
    .cart-img img{
        margin-right: 5rem;
        margin-left: 0;
    
    }
    .content-grid-menu{
      grid-template-columns: 0.7fr 3fr 0.2fr;
    }
    .content-grid-two{
        grid-template-columns: 1fr 1.5fr 0.01fr 
    }
    .content-grid-three{
        grid-template-columns: 1fr 1fr 1fr;
        margin: 1rem 0 0 10rem;
    }
    .content-grid-four{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .grid.add-gutters{
        gap: 2rem
    }
    .dot1{
        margin: 0 2rem 0 10rem;
    }
}
@media (min-width: 55rem) and (max-width: 82rem)  {
    .main-title{
        font-size: 10rem;
    }
    .caption{
        margin: 0 3rem 3rem;
    }
    h1{
        font-size: 1.6rem;
    }
    .demo2{
        margin: 1rem 0 0;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size: 1.5rem;
    }
    
    .dot1{
        margin: 0 4rem;
    }
    .main-menu img{
        margin-left: 5rem;
    }
    .cart-img img{
        margin-right: 5rem;
        margin-left: 0;
    }
      .content-grid-menu{
        grid-template-columns: 0.7fr 3fr 0.2fr;
      }

    .sub-title{
        font-size: 2rem;
    }
    .element {
        padding-bottom: 2rem;
        margin: 0rem 3rem;
        border-top-width: 0.01rem;
        border-top-style: solid;
        color: #523E30;
      }
    .content-grid-extra{
        grid-template-columns: 1fr 2fr
    }
    .grid.add-gutters2{
        margin: 0 6rem;
        gap: 5rem;
    }
    .grid.add-gutters1{
        margin: 0 6rem;
    }
    .grid.add-gutter3{
        margin:0;
        gap: 2rem;
    }
    .content-grid-two{
        grid-template-columns: 1fr 1fr 1fr; 
    }
    .content-grid-three{
        grid-template-columns: 1fr 1fr 1fr;
        margin: 1rem 0 0 10rem;
    }
    .content-grid-four{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .grid.add-gutters{
        gap: 3rem
    }
   
}
@media (min-width: 35rem) and (max-width: 55rem){
    .main-title{
        font-size: 5rem;
    }
    .caption{
        margin: 0 1rem 1rem;
        font-size: 1rem;
    }
    .sub-title{
        font-size: 1.5rem;
    }
    h1{
        font-size: 1.5rem;
        margin-bottom: 0;
    
    }
    h2{
        font-size: 1.5rem;
    }
    .demo2{
        margin: 1rem 0 0;
    }
    h3{
        font-size: 1.5rem;
    }
    .menu-container a{
        padding: 0.8rem 1rem;
    }
       .menu-container {
        display: flex; 
        justify-content: center;
        width: 21.46rem; 
        display: flex;
        flex-direction: row;
        background-color: #ffdce1;
        border-radius: 10rem;
        border: 0.1rem solid white;
        margin-right: 0rem;
  
      }
      .main-menu img{
          margin-left: 2rem;
      }
      .cart-img img{
          margin-right: 0;
          margin-left: 2rem;
      }
      .content-grid-menu{
        grid-template-columns: 0.1fr 2fr 0fr;
      }
      .add-gutters-menu{
        gap: 0rem;
      }
      .element {
          margin: 0 5rem;
      }
    .content-grid-two{
        grid-template-columns: 1fr 1fr 1fr; 
    }
    .element {
        padding-bottom: 2rem;
        margin: 0.5rem 3rem;
        border-top-width: 0.01rem;
        border-top-style: solid;
        color: #523E30;
      }
    .content-grid-extra{
        grid-template-columns: 1fr 2fr
    }
    .content-grid-four{
        grid-template-columns: 1fr 1fr;
    }
    .grid.add-gutters{
        gap: 1rem
    }
    .grid.add-gutters2{
        margin: 0 2rem;
        gap: 1rem;
    }
    .container{
        margin-top: 1rem;
    }
    .dot1{
        margin: 1rem 4rem;
    }
    .dot2{
        margin: 1rem 4rem;
    }
    .dot3{
        margin: 1rem 4rem;

    }
    .dot4{
        margin: 1rem 4rem;
    }
    }
@media (width < 35rem){
    .main-title{
        font-size: 3rem;
        -webkit-text-stroke: 0.1rem #523E30;

    }
    .content-grid-menu{
        grid-template-columns: 1fr;
      }
    .menu-container a{
        padding: 0.3rem 1rem;
      }
    .menu-container {
        flex-direction: column;
          margin: 0;
          width: 10rem;
          background-color: #C1DD90;
          border: none;
          margin: 2rem 0;
      }
  
      .main-menu img{
          margin-left: 0rem;
      }
      .cart-img img{
          margin-right: 0;
          margin-left: 2rem;
  
      }
    .main-menu{
        display: flex;
        justify-content: center;
        text-align: center;
      }
    .caption{
        margin: 0 1rem 1rem;
        font-size: 1rem;
    }
    .sub-title{
        font-size: 1.5rem;
    }
    .content-grid-two{
        grid-template-columns: 0.9fr 1fr 0.25fr; 
    }
    .dot1{
        margin: 1rem;
    }
    .dot2{
        margin: 1rem;
    }
    .dot3{
        margin: 1rem;
    }
    .dot4{
        margin: 1rem;
    }
    .color-code{
        color:#FFF4E2;
    }
    h1{
        font-size: 1rem;
        margin-bottom: 0;
    
    }
    h2{
        font-size: 1rem;
    }
    .demo2{
        margin: 1rem 0 0;
    }
    h3{
        font-size: 1rem;
    }
    p{
        font-size: 0.75rem;
    }
    li{
        margin-right: 1rem;
    }
    .element {
        padding-bottom: 2rem;
        margin: 0.5rem 3rem;
        border-top-width: 0.01rem;
        border-top-style: solid;
        color: #523E30;
      }
}