
.grid{
    display: grid;
}
@media (width > 82rem) {
    .caption{
        margin: 0 20rem 3rem;
    }
    .intro-container {
      margin: 7rem 0 3rem;
    }
    .container{  
        padding: 2rem 1rem 4rem;
        max-height: 18rem;
        max-width: 20rem;
        border-radius: 1.25rem;
        color: #523E30;
        border: 0.1rem solid #523E30;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition-property: background-color; 
        text-align: center;
        margin: 5rem 0 4rem;
      }
      .intro-img{
        width: 40rem;
        height: auto;
    }
      .main-menu img{
          margin-left: 5rem;
      }
      .cart-img img{
          margin-right: 5rem;
          margin-left: 0;
    
      }
      .content-grid-menu{
        grid-template-columns: 0.7fr 3fr 0.2fr;
      }

      .content-grid-two{
        grid-template-columns: 1.25fr 1fr;
      }
      .grid.add-gutters2{
        gap: 2rem;
      }
      .content-grid-four{
        grid-template-columns: 1fr 1fr 1fr;
        margin:0 20% 0 20%;
      }
      .grid.add-gutters3{
        gap: 2.5rem;
      }
      .content-grid-three{
        grid-template-columns: 2fr 1fr 1fr;
      }
      .container_one{  
        margin-left: 0;
        max-width: 20rem;
      }
      .customer-box{  
        display: flex; 
    }
    .logo{
      left: 9rem;
    }
}
@media (min-width: 55rem) and (max-width: 82rem) {
    .intro-img{
        width: 35rem;
        height: auto;
    }
    .element {
      margin: 0 7rem;
  }
    .caption{
        margin: 0 10rem 3rem;
    }
    .intro-container {
      margin: 7rem 0 3rem;
    }
    .first_pic img{
      margin-top: 7rem;
        margin: 10rem 0 0 3rem;
        width: 19rem;
        height: auto;
    }
    .main-menu img{
      margin-left: 5rem;
  }
  .cart-img img{
      margin-right: 5rem;
      margin-left: 0;
  }
    .content-grid-menu{
      grid-template-columns: 0.7fr 3fr 0.2fr;
    }
      .content-grid-four{
        grid-template-columns: 1fr 1fr 1fr;
        margin:0 10% 0 10%;
      }
      .grid.add-gutters3{
        gap: 2rem;
      }
      .content-grid-two{
        grid-template-columns: 1fr 1fr;
      }
      .grid.add-gutters2{
        gap: 3rem;
      }
      .content-grid-three{
        grid-template-columns: 2fr 1fr 1fr;
      }
      .customer-box{
        display: flex; 
        margin: 2rem 5rem;
      }
      .logo{
        left: 4rem;
      }
      .footer-img{
        width: 20rem;
        margin: 5rem 0 0 5rem;
      }

      .newsletter{
        margin-right: 5rem;
      }
      .newsletter input {
        margin-top: 1.5rem;
        max-width: 25rem;
      }

      .footer-info{
        margin: 5rem;
      }

}

@media (min-width: 35rem) and (max-width: 55rem){
    .intro-img{
        width: 27rem;
        height: auto;
    }
    .caption{
        margin: 0 2rem 3rem;
    }
    .menu-container a{
      padding: 0.8rem 1rem;
    }
     .menu-container {
      display: flex; 
      justify-content: center;
      width: 21.46rem; 
      display: flex;
      flex-direction: row;
      background-color: #ffdce1;
      border-radius: 10rem;
      border: 0.1rem solid white;
      margin-right: 0rem;

    }
    .main-menu img{
        margin-left: 2rem;
    }
    .cart-img img{
        margin-right: 0;
        margin-left: 2rem;
    }
    .element {
        margin: 0 5rem;
    }
    .intro-container {
      margin: 4rem 0 3rem;
    }
    .first_pic img{
        margin: 0;
        width: 17rem;
        height: auto;
    }
    .container{  
        margin: 2rem 0 2rem;
      }
      .content-grid-menu{
        grid-template-columns: 0.1fr 2fr 0fr;
      }
      .add-gutters-menu{
        gap: 0rem;
      }
    .grid.add-gutters3{
        gap: 0;
      }
    .content-grid-four{
        grid-template-rows: 3fr;
        margin:0 30% 0 30%;
      }

    .feature-paragraph{
        text-align: center;
        margin: 0 5rem;
      }
      
      .grid.add-gutters2{
        gap: 0;
      }
      .container_one{  
        padding: 2rem 1rem 4rem;
        max-width: 20rem;
        margin: 0;
      }
      .customer-box{
        margin: 2rem 3rem;
      }
      .customer-image{
        display: flex;
        align-items: center;
        gap: 3rem;
      }
      .customer-box img{
        width: 5rem;
        height: auto;
        margin-bottom: 1rem;
      }
      .footer-img{
        width: 20rem;
        margin: 5rem 0 0 5rem;
      }
      .footer-info{
        margin: 0 5rem 0;
      }
      .logo{
        left: 4rem;
        margin: 2rem 1rem 0 1rem;
      }
      .customer-box h3{
        margin-left: 0;
      }
      .newsletter{
        top: 4rem;
        margin: 0 5rem 8rem 5rem;
      }
      .newsletter input {
        width: 70%;
      }
      .footer-info{
        margin: 2rem 0 4rem 5rem;
      }
      .footer-nav{
        text-decoration: none;
        margin-left: 5rem;
      }
      .footer-nav-box{
        margin: 0 0 4rem 0;
      }
      .footer-nav-box h3{
        margin-left: 5rem;
        margin-top: 0;
      }

}

@media (width < 35rem){
    .intro-img{
        width: 17rem;
        height: auto;
    }
    .caption{
        margin: 0 1rem 3rem;
    }
    h1{
        font-size: 2rem;
    }
    .main-menu{
      display: flex;
      justify-content: center;
      text-align: center;
    }
    .container{  
      padding: 2rem 1rem 5rem;
      margin: 2rem 0 2rem;
    }
    .container_one{  
      padding: 2rem 1rem 4rem;
      max-width: 20rem;
      margin: 0;
    }
    .container_one img{
      width: 12rem;
      height: auto;
    }
    .container_one img:hover, .container_one img:focus{
      width: 13rem;
      height: auto; 
    }
    .menu-container a{
      padding: 0.3rem 1rem;
    }
    .menu-container {
      flex-direction: column;
        margin: 0;
        width: 10rem;
        background-color: #C1DD90;
        border: none;
        margin: 2rem 0;
    }

    .main-menu img{
        margin-left: 0rem;
    }
    .cart-img img{
        margin-right: 0;
        margin-left: 2rem;

    }
    .element {
        margin: 0 3rem;
    }
    .first_pic img{
        margin-top: 3rem;
        width: 15rem;
        height: auto;
    }
      .grid.add-gutters3{
        gap: 0;
      }
      .content-grid-four{
        grid-template-columns: 1fr;
        margin:0 2rem 0 ;
      }
      .feature-paragraph{
        text-align: center;
        margin: 0 3rem;
      }
      .content-grid-menu{
        grid-template-columns: 1fr;
      }
      
      .grid.add-gutters2{
        gap: 3rem;
      }
      .customer-box{
        display: flex;
        flex-direction: column;
        margin: 2rem 2rem;
      }
      .customer-box img{
        margin: 2rem 0 2rem 0;
      }
      .customer-box h3{
        margin-bottom: 0;
        text-align: center;
      }
      .customer-box p{
        margin-top: 0;
        text-align: center;
      }
      .footer-img{
        width: 15rem;
        margin: 5rem 0 0 3rem;
      }
      .footer-info{
        margin: 0 5rem 0;
      }
      .customer-box h3{
        margin-left: 0;
      }
      .newsletter{
        top: 0;
        margin: 0 3rem 4rem 3rem;
      }
      .footer-info{
        margin: 2rem 2rem 4rem 3rem;
      }
      .newsletter input{
        max-width: 10rem;
      }
      .footer-nav{
        text-decoration: none;
        margin-left: 3rem;
      }
      .footer-nav-box{
        margin: 0 0 4rem 0;
      }
      .footer-nav-box h3{
        margin-left: 3rem;
        margin-top: 0;
      }

}