body {
    font-family: "Coiny", serif;
    font-weight: 400;
    width: 100%;
    background-color: #FFF4E2;
    margin: 0;
    padding: 0;
  }
  .element {
    padding-bottom: 1rem;
    margin: 0 10rem;
    border-top-width: 0.01rem;
    border-top-style: solid;
    color: #FCE7D1;
  }
  
  .element1 {
    margin: 3rem 10rem;
    color: #523E30;
}
  h1{
    font-weight: 700;
    text-align: center;
    color: #523E30;
    font-size: 3rem;
    margin: 4rem 0 1rem ;
  
  }

  h2 {
    font-family: "Coiny", serif;
    font-weight: 400;
    text-align: center;
    font-size: 2.25rem;
    margin: 3rem 0 1rem;
    color: #523E30;
  }
  
  h3 {
    font-family: "Coiny", serif;
    font-weight: 400;
    margin: 1rem 0 0.5rem;
    font-size: 1.5rem;
  }
  p {
    margin: 0;
    font-family: "Comfortaa", serif;
    font-weight: 400;
    line-height: 1.9rem;
    font-size: 1rem;
  }

  /* NAVIGATOR */
  /* NAVIGATOR */
  header {
    background-color: #C1DD90;
    width: 100%;

}
  .menu-container a{
    font-family: "Comfortaa", serif;
    white-space: nowrap;
    font-weight: 400;
    padding: 0.8rem 2.46rem;
    text-decoration: none;
    color: #523E30;
    font-size: 0.8rem;
    transition-property: color;
    transition-duration: 0.25s;
  }
  
  .menu-container a:hover, .menu-container a:focus {
    text-decoration: none;
    background-color: white;
    border: 0rem solid #523E30;
    border-radius: 10rem;
  }

  .menu-container {
    display: flex;
    margin-top: 0.5rem;
    height: 2.5rem;
    justify-content: center;
    text-align: center;
    background-color: #ffdce1; 
    width: 33rem; 
    border-radius: 10rem;
    border: 0.1rem solid white;
    margin-left: auto; 
    margin-right: 2rem;
}

.main-menu{
  padding: 1.5rem;
}
.main-menu img{
  width: 4rem;
  margin-left: 10rem;
  height: auto;
  transition-property: width, height;
  transition-duration: 0.25s;
}
.main-menu  img:hover,.main-menu img:focus {
  filter: drop-shadow(3px 3px 5px #FFD4DE); 
}

.cart-img img{
  display: flex;
  width: 2rem;
  height: 2rem;
  margin-top: 0.6rem;
  margin-right: 10rem;
  transition-property: width, height;
  transition-duration: 0.25s;
}


  /* PRODUCT PAGE */
.product-caption{
  text-align: center;
  margin: 0 3rem 3rem 3rem ;

}
.container{  
    padding: 1rem 1rem 0;
    border-radius: 1.25rem;
    border: 0.1rem solid #523E30;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
     transition-property: background-color; 
    text-align: center;
  }
  .container:hover, .container:focus{
    background-color: #523E30 ;
    border: 0.1rem solid #FFF4E2;
    color: #FFF4E2;
  }
  .container p{
    text-align: left;
    margin-left: 1rem;
  }
  .container h3{
    text-align: left;
    margin-left: 1rem;
  }
  .container figcaption{
    text-align: left;

  }
  .container img{
    width: 10rem; 
    height: 10rem; 
    margin-top: 0.75rem;
    border-radius: 1.25rem;
    transition-property: width, height;
    transition-duration: 0.25s;
  }
  .container img:hover, .container img:focus{
    width: 11.5rem;
    height: 11.5rem; 
  }
  .square {
    display: inline-block;
    position: relative;
    margin-right: 8rem;
    border-radius: 0.5rem;
    left: 8rem;
    bottom: 1rem;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #C1DD90;
    transition-duration: 0.25s;
  }
  .square:hover, .square:focus{
    background-color: #C1DD90;
    height: 2.7rem;
    width: 2.7rem;
    left: 8.2rem;
  }
  .square:active{
  background-color: #523E30;
  border-radius: 10rem;
}
  .add-item{
    position: relative;
    bottom: 1rem;
    margin-bottom: -2rem;

  }
  .add-item img{
    position: relative;
    bottom: 0.7rem;
    pointer-events: none;
    width: 1.8rem;
    height: 1.8rem;
    margin-bottom: -2rem;
  }
  .add-item:active{
    opacity: 0;
  }

  figure{
    margin: 0.5rem 1rem;
  }
  figcaption{
    font-size: 0.6rem;
    line-height: 1rem;
    font-family: "Comfortaa", serif;
    font-weight: 400;
  }

  /* FOOTER */
  .banner{
    width: 100%;
    height: auto;
    margin-top: 8rem;
    margin-bottom: 0;
}

  footer{
    margin-top: -0.4rem;
    background-color: #523E30;
    width: 100%;
    height: 100%;
    padding: 2rem 0 3rem; 
  }
  .logo-footer{
    display: flex;
    flex-direction: column;     
  }
  .logo {
    position: relative;
    left: 2rem;
    width: 1.875rem;
    height: 1.875rem;
    margin:2rem 1rem;
    box-shadow: 0 0 0 0 white;
    border-radius: 0;   
    transition-duration: 0.25s;
    transition-property: width, height;     
  }
  .footer-img{
    width: 30rem;
    height: auto;
    margin: 5rem 0 0 10rem;
  
  }
  .logo:hover, .logo:focus{
    width: 3rem;
    height: 3rem;
  }
  .newsletter{
    position: relative;
    top: 5rem;
    right: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 8rem;
    margin-right: 10rem;
  }
  .newsletter h3{
    color: #FFF4E2;
    font-size: 2rem;
  }
  .newsletter p{
    color: #FFF4E2;
    font-size: 1rem;
  }
  .newsletter input {
    width: 90%;
    font-family: "Comfortaa", serif;
    font-weight: 400;
    margin-top: 1.5rem;
    max-width: 30rem;
    padding: 1rem 2rem;
    font-size: 0.8rem;
    border: none;
    border-radius: 1rem;
    background: #FCE7D1;
    color: #5C3B2E;
    outline: none;
  }
  .newsletter button{
    margin-top: 1rem;
    font-family: "Comfortaa", serif;
    max-width: 10rem;
    font-weight: 400;
    font-size: 0.75rem;
    margin-bottom: 3rem;
    border: none;
    background-color: #FFD4DE;
    color: #523E30;
    padding: 1rem 2rem; 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    text-decoration: none;
    transition-property: background-color; 
    transition-property: font-size; 
    transition-duration: 0.25s;
    }
    
    .newsletter button:hover, .newsletter button:focus {
      background-color: #523E30 ;
      color: #FFD4DE;
      border: 0.1rem solid #FFD4DE;
      font-size: 0.95rem;
    }

    .footer-info{
      color: #FCE7D1;
      margin: 5rem 5rem 5rem 10rem;
    }
    .footer-info p{
      font-size: 0.75rem;
    }
    .footer-nav{
      display: flex;
      text-decoration: none;
      padding: 0;
      margin: 1rem 0;
      max-width: 10rem;
      flex-direction: column;
      font-family: "Comfortaa", serif;
      font-weight: 400;
      text-align: left;
      line-height: 2rem;
      color: #FFF4E2;
      font-size: 0.75rem;
      transition-property: font-size;
      transition-duration: 0.25s;
    }
    .footer-nav:hover, .footer-nav:focus{
      font-size: 0.9rem;
      background-color: #523E30;
    }
    .footer-nav-box{
      margin: 3rem 0;
    }
    .footer-nav-box h3{
      color: #FCE7D1;
    }
    .copywrite{
      margin-top: 2rem;
      font-size: 0.5rem;
      text-align: center;
      color: #FCE7D1;
      line-height: 1.5rem;
    }