.grid{
    display: grid;
}
@media (width > 82rem) {
    
  .content-grid{
    grid-template-columns: 0.7fr 0.7fr 1fr;
    margin: 2rem 0 0rem 5rem;
  }
  .main-menu img{
    margin-left: 5rem;
}
.cart-img img{
    margin-right: 5rem;
    margin-left: 0;

}
.content-grid-menu{
  grid-template-columns: 0.7fr 3fr 0.2fr;
}
.grid.add-gutters{
    gap:2rem;
  }
  .content-grid-two{
    grid-template-columns: 1.25fr 1fr;
  }
  .grid.add-gutters2{
    gap: 2rem;
  }
  .grid.add-gutters3{
    gap: 3rem;
  }
  .content-grid-three{
    grid-template-columns: 2fr 1fr 1fr;
  }
  .logo{
    left: 9rem;
  }
}
@media (min-width: 55rem) and (max-width: 82rem) {
    .content-grid{
        grid-template-columns: 1fr 1fr;
        margin: 2rem 0 0rem 5rem;
      }
    .grid.add-gutters{
        gap:2rem;
      }
    .info-container{
        grid-column: 1;
        grid-row: 1;
    }
    .info-container1{
        grid-column: 1;
        grid-row: 2;
    }
    .info-container2{
        grid-column: 2;
        grid-row: 1;
    }
    .main-menu img{
      margin-left: 5rem;
  }
  .cart-img img{
      margin-right: 5rem;
      margin-left: 0;
  }
    .content-grid-menu{
      grid-template-columns: 0.7fr 3fr 0.2fr;
    }
    .content-grid-two{
        grid-template-columns: 1.25fr 1fr;
    }
    .grid.add-gutters2{
        gap: 2rem;
    }
    .grid.add-gutters3{
        gap: 3rem;
    }
    .content-grid-three{
        grid-template-columns: 2fr 1fr 1fr;
    }
    .footer-img{
        width: 20rem;
        margin: 5rem 0 0 5rem;
      }
      .logo{
        left: 4rem;
      }
      .newsletter{
        margin-right: 5rem;
      }
      .newsletter input {
        margin-top: 1.5rem;
        max-width: 25rem;
      }
      .footer-info{
        margin: 5rem;
      }

   
}
@media (min-width: 35rem) and (max-width: 55rem){
    .info-container{
        margin: 4rem 5rem 0;
    }
    .info-container1{
        margin: 4rem 5rem;

    }
    .info-container2{
        margin: 0 5rem;
    }
    .button-nav{
        padding: 0.8rem 3rem;
    }
    .menu-container a{
      padding: 0.8rem 1rem;
    }
     .menu-container {
      display: flex; 
      justify-content: center;
      width: 21.46rem; 
      flex-direction: row;
      background-color: #ffdce1;
      border-radius: 10rem;
      border: 0.1rem solid white;
      margin-right: 0rem;

    }
    .main-menu img{
        margin-left: 2rem;
    }
    .cart-img img{
        margin-right: 0;
        margin-left: 2rem;
    }
    .content-grid-menu{
      grid-template-columns: 0.1fr 2fr 0fr;
    }
    .add-gutters-menu{
      gap: 0rem;
    }
    .element {
        margin: 0 5rem;
    }
    .footer-img{
    width: 20rem;
    margin: 5rem 0 0 5rem;
    }
    .footer-info{
    margin: 0 5rem 0;
    }
    .logo{
    left: 4rem;
    margin: 2rem 1rem 0 1rem;
    }
    .logo{
    margin: 2rem 1rem 0 1rem;
    }
    .newsletter{
    top: 4rem;
    margin: 0 10rem 8rem 5rem;
    }
    .footer-info{
    margin: 2rem 0 4rem 5rem;
    }
    .footer-nav{
    text-decoration: none;
    margin-left: 5rem;
    }
    .footer-nav-box{
    margin: 0 0 4rem 0;
    }
    .footer-nav-box h3{
    margin-left: 5rem;
    margin-top: 0;
    }
}
@media (width < 35rem){
    .info-container{
        margin: 4rem 2rem 0;
    }
    .info-container1{
        margin: 4rem 2rem;

    }
    .info-container2{
        margin: 0 2rem;

    }
    .button-nav{
        padding: 0.8rem 1rem;

    }
    .menu-container a{
      padding: 0.3rem 1rem;
    }
    .menu-container {
      flex-direction: column;
        margin: 0;
        width: 10rem;
        background-color: #C1DD90;
        border: none;
        margin: 2rem 0;
    }

    .main-menu img{
        margin-left: 0rem;
    }
    .cart-img img{
        margin-right: 0;
        margin-left: 2rem;

    }
    .main-menu{
      display: flex;
      justify-content: center;
      text-align: center;
    }
    .content-grid-menu{
      grid-template-columns: 1fr;
    }
    .element {
        margin: 0 3rem;
    }
    .footer-img{
    width: 15rem;
    margin: 5rem 0 0 3rem;
    }
    .footer-info{
    margin: 0 5rem 0;
    }
    .newsletter{
    top: 0;
    margin: 0 3rem 4rem 3rem;
    }
    .footer-info{
      margin: 2rem 2rem 4rem 3rem;
    }
    .logo{
      left: 2rem;
      margin: 2rem 1rem 3rem 1rem;
    }
    .newsletter input{
    max-width: 10rem;
    }
    .footer-nav{
    text-decoration: none;
    margin-left: 3rem;
    }
    .footer-nav-box{
    margin: 0 0 4rem 0;
    }
    .footer-nav-box h3{
    margin-left: 3rem;
    margin-top: 0;
    }
}